@{
    ViewBag.Title = "Logic Heights";
}
@section head {
   
    @*<link href="/content/css/service/inner.css" rel="stylesheet" type="text/css" />*@
}

@section header {
    <header>
        <div class="container_12">
            <div class="grid_12">
                <div class="wrapper">
                    @Html.ActionLink("Logic Heights", "Index", "Home", null, new { @class = "logo" })
                    <nav>
                        <ul class="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li class="active">@Html.ActionLink("Services", "Services", "Home")</li>
                            <li><a href="/wordpress">Blogs</a></li>
                            @*<li>@Html.ActionLink("Blog", "Blog", "Home")</li>*@
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

}

@section featured {

}

@section inner {
    <div id="content">
        <div class="inner pad1">
            <div class="container_12">
                <div class="wrapper h-pad">
                    <!-- BEGIN CONTENT -->
                    <div id="content_container">
                        <div class="centercolumn">
                            <div id="maincontent">
                                <div id="content_full">
                                    <h3 style="font-family:  'Century Gothic';font-weight: bold">SERVICES</h3><br />
                                    <h1 style="color: #d52d00">Professional offers</h1>
                                    
                                        <p>We provide organizations around the world with effectual and affordable IT solutions.</p>
                                   
                                    <br />
                                       <div class="service_box_container">
                                        <div class="service_box">
                                            <h2 class="tblue">Web Design and Development</h2>
                                            <figure class="img-indent"><img src="/content/images/img_web_design.jpg" alt=""></figure>
                                            <p>Logic Heights specializes in Web Application Development. We are experienced in preparing progressed systems with complex business logic, treating heavy quantities of data and transactions. We are capable of developing, launching and maintaining advanced, trust-able, responsive software solutions tailor-made to your needs.
Over the years, we have undertaken extensive projects, empowering the wireless revolution with innovative solutions aimed at enhancing user experience. We have a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet (a private network). We have range for developing the simplest static single page of plain text to the most complex web-based internet applications, electronic businesses, and social network services. A more comprehensive list of tasks to which we commonly refers, include web design, web content development, client liaison, client-side/server-side scripting, web server and network security configuration, and e-commerce development.</p>
                                             
                                        </div><!-- end web design -->
                                       <br/>
                                       <div class="service_box">
                                               <h2 class="tblue">Re-engineering And Optimization</h2>
                                               <figure class="img-indent"><img src="/content/images/re.jpg" alt=""></figure>
                                               <p>Our Application Re-engineering And Optimization service delivery enables organizations to 
                                                drive the business forward by quickly delivering connected, flexible, and highly secure 
                                               applications. We provide a user-centric experience, helping maximize the productivity and 
                                               efficiency of your employees and Our SEO team improves customer experience and provides fast and easy integration
                                                across existing software and new Web-based applications. <br/>
                                               <p>
                                               Our Application Re-engineering Team provides Re-engineering And Optimization to the existing Solutions.<br />
                                                   
                                                   * Search Engine Optimization<br/>
                                                   * Optimizing existing solution implementation<br />
                                                   * Migrating to better third party components<br />
                                                  </p>
                                              
                                           </div><!-- end web design -->
                                           <br />
                                           <div class="service_box">
                                               <h2 class="tblue">Mobile Application Development</h2>
                                               <figure class="img-indent"><img src="/content/images/mob.jpg" alt=""></figure>
                                               <p>
                                                   Mobile Application Development has become our main target now a days because the business
                                                    of mobile apps development are rising day by day since last few years. We have successfully 
                                                   launched many mobile based applications and they are now available in market.
                                               <p>
                                                   We have been Developing & Designing Applications for all major platforms including:<br/>
                                                   * Windows Mobile<br />
                                                   * iPhone/iPad<br />
                                                   * Android<br />
                                                   * Blackberry <br />
                                               </p>

                                                
                                           </div><!-- end web design -->
                                          
                                           <br />
                                           <div class="service_box">
                                               <h2 class="tblue">ERP SYSTEM</h2>
                                               <figure class="img-indent"><img src="/content/images/erp.jpg" alt=""></figure>
                                               <p>
                                                   Our organizations perceive ERP as a vital tool for organizational competition, as
                                                   it integrates dispersed organizational systems and enables flawless transactions and
                                                   production. Our ERP systems suffered from limitations
                                                   in coping with integration challenges dealing with changing requirements.


                                                
                                           </div><!-- end web design -->
                                           <br />
                                           <div class="service_box">
                                               <h2 class="tblue">Cloud Web Services</h2>
                                               <figure class="img-indent"><img src="/content/images/cloud.jpg" alt=""></figure>
                                               <p>
                                                   Cloud services means services made available to users on demand via the Internet from a 
                                                   cloud computing provider's servers as opposed to being provided from a company's own 
                                                   on-premises servers. Cloud services are designed to provide easy, scalable access to 
                                                   applications, resources and services, and are fully managed by a cloud services provider.


                                                
                                           </div><!-- end web design -->
                                        <div class="clr"></div><!-- clear float -->
                                    </div><!-- end services box container -->
                                </div><!-- end content full -->
                            </div><!-- end maincontent -->
                        </div>
                    </div><!-- end content container -->
                    <!-- END CONTENT -->
                </div>
            </div>
        </div>
    </div>
   
}

@section scripts {




}


